:root {
  --background: 240 100.0000% 98.0392%;
  --foreground: 240 27.5862% 22.7451%;
  --card: 0 0% 100%;
  --card-foreground: 240 27.5862% 22.7451%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 27.5862% 22.7451%;
  --primary: 251.9008 55.7604% 57.4510%;
  --primary-foreground: 0 0% 100%;
  --secondary: 249.3750 100% 93.7255%;
  --secondary-foreground: 249.3750 33.3333% 37.6471%;
  --muted: 240 50.0000% 96.0784%;
  --muted-foreground: 240 12.1951% 48.2353%;
  --accent: 218.4615 100.0000% 92.3529%;
  --accent-foreground: 240 27.5862% 22.7451%;
  --destructive: 350.1754 100% 66.4706%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 34.7826% 90.9804%;
  --input: 240 34.7826% 90.9804%;
  --ring: 251.9008 55.7604% 57.4510%;
  --chart-1: 251.9008 55.7604% 57.4510%;
  --chart-2: 249.6429 94.9153% 76.8627%;
  --chart-3: 239.1781 82.0225% 65.0980%;
  --chart-4: 243.1579 93.0070% 71.9608%;
  --chart-5: 243.6522 47.3251% 47.6471%;
  --sidebar: 240 50.0000% 96.0784%;
  --sidebar-foreground: 240 27.5862% 22.7451%;
  --sidebar-primary: 251.9008 55.7604% 57.4510%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.4615 100.0000% 92.3529%;
  --sidebar-accent-foreground: 240 27.5862% 22.7451%;
  --sidebar-border: 240 34.7826% 90.9804%;
  --sidebar-ring: 251.9008 55.7604% 57.4510%;
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
}
